
/* Funziona */
/* .article .h1 {
  color: red;
} */

/* Funziona */
/* article h1 {
  color: red;
} */

/* funziona */
article.article h1.h1 {
  color: red;
}

/** Funziona */
.in-div.color-red.size-12 {
  background-color:#deb456 ;
}